# Weather Data Preprocess

In [33]:
import pandas as pd

In [34]:
# Read daily data
daily_data = pd.read_csv('./Raw-Dataset/weather-open-meteo-6.22S108.51E0m-daily.csv')
# Read hourly data
hourly_data = pd.read_csv('./Raw-Dataset/weather-open-meteo-6.22S108.51E0m.csv')

In [35]:
daily_data['time'] = pd.to_datetime(daily_data['time'])
hourly_data['time'] = pd.to_datetime(hourly_data['time'])

In [36]:
daily_data['date'] = daily_data['time'].dt.date
hourly_data['date'] = hourly_data['time'].dt.date

In [37]:
daily_data.rename(columns={'weather_code (wmo code)': 'daily_weather_code (wmo code)'}, inplace=True)

In [38]:
daily_data.head()

        time  daily_weather_code (wmo code)        date
0 2021-01-01                             53  2021-01-01
1 2021-01-02                             51  2021-01-02
2 2021-01-03                             63  2021-01-03
3 2021-01-04                             61  2021-01-04
4 2021-01-05                             63  2021-01-05

In [39]:
hourly_data.head()

,time,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),weather_code (wmo code),pressure_msl (hPa),cloud_cover (%),wind_speed_100m (km/h),wind_direction_100m (°),wind_gusts_10m (km/h),is_day (),direct_radiation (W/m²),date
0,2021-01-01 00:00:00,27.0,83,23.9,29.0,0.8,0.8,53,1008.8,100,29.3,289,37.1,0,0.0,2021-01-01
1,2021-01-01 01:00:00,27.2,81,23.8,28.9,0.5,0.5,53,1008.3,100,31.9,284,38.9,0,0.0,2021-01-01
2,2021-01-01 02:00:00,27.0,83,24.0,28.5,0.2,0.2,51,1007.7,100,35.1,283,41.8,0,0.0,2021-01-01
3,2021-01-01 03:00:00,27.0,84,24.0,28.0,0.1,0.1,51,1007.4,74,38.8,285,46.4,0,0.0,2021-01-01
4,2021-01-01 04:00:00,26.9,84,24.0,28.0,0.1,0.1,51,1007.3,57,38.6,284,47.2,0,0.0,2021-01-01

In [40]:
merged_data = hourly_data.merge(daily_data, on='date')

In [41]:
merged_data.head()

,time_x,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),weather_code (wmo code),pressure_msl (hPa),cloud_cover (%),wind_speed_100m (km/h),wind_direction_100m (°),wind_gusts_10m (km/h),is_day (),direct_radiation (W/m²),date,time_y,daily_weather_code (wmo code)
0,2021-01-01 00:00:00,27.0,83,23.9,29.0,0.8,0.8,53,1008.8,100,29.3,289,37.1,0,0.0,2021-01-01,2021-01-01,53
1,2021-01-01 01:00:00,27.2,81,23.8,28.9,0.5,0.5,53,1008.3,100,31.9,284,38.9,0,0.0,2021-01-01,2021-01-01,53
2,2021-01-01 02:00:00,27.0,83,24.0,28.5,0.2,0.2,51,1007.7,100,35.1,283,41.8,0,0.0,2021-01-01,2021-01-01,53
3,2021-01-01 03:00:00,27.0,84,24.0,28.0,0.1,0.1,51,1007.4,74,38.8,285,46.4,0,0.0,2021-01-01,2021-01-01,53
4,2021-01-01 04:00:00,26.9,84,24.0,28.0,0.1,0.1,51,1007.3,57,38.6,284,47.2,0,0.0,2021-01-01,2021-01-01,53

In [42]:
merged_data.drop(columns=['date', 'time_y'], inplace=True)

In [43]:
merged_data.rename(columns={'time_x': 'time'}, inplace=True)

In [44]:
merged_data.head()

,time,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),weather_code (wmo code),pressure_msl (hPa),cloud_cover (%),wind_speed_100m (km/h),wind_direction_100m (°),wind_gusts_10m (km/h),is_day (),direct_radiation (W/m²),daily_weather_code (wmo code)
0,2021-01-01 00:00:00,27.0,83,23.9,29.0,0.8,0.8,53,1008.8,100,29.3,289,37.1,0,0.0,53
1,2021-01-01 01:00:00,27.2,81,23.8,28.9,0.5,0.5,53,1008.3,100,31.9,284,38.9,0,0.0,53
2,2021-01-01 02:00:00,27.0,83,24.0,28.5,0.2,0.2,51,1007.7,100,35.1,283,41.8,0,0.0,53
3,2021-01-01 03:00:00,27.0,84,24.0,28.0,0.1,0.1,51,1007.4,74,38.8,285,46.4,0,0.0,53
4,2021-01-01 04:00:00,26.9,84,24.0,28.0,0.1,0.1,51,1007.3,57,38.6,284,47.2,0,0.0,53

In [45]:
merged_data.to_csv('merged_weather_data.csv', index=False)

print("Merging completed. Data saved to 'merged_weather_data.csv'")

Merging completed. Data saved to 'merged_weather_data.csv'

# Merge with marine

In [46]:
weather_data = merged_data

# Read preprocessed marine data
marine_data = pd.read_csv('./Raw-Dataset/marine-open-meteo-6.25S108.50E0m (2).csv')

In [47]:
weather_data.head()

,time,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),weather_code (wmo code),pressure_msl (hPa),cloud_cover (%),wind_speed_100m (km/h),wind_direction_100m (°),wind_gusts_10m (km/h),is_day (),direct_radiation (W/m²),daily_weather_code (wmo code)
0,2021-01-01 00:00:00,27.0,83,23.9,29.0,0.8,0.8,53,1008.8,100,29.3,289,37.1,0,0.0,53
1,2021-01-01 01:00:00,27.2,81,23.8,28.9,0.5,0.5,53,1008.3,100,31.9,284,38.9,0,0.0,53
2,2021-01-01 02:00:00,27.0,83,24.0,28.5,0.2,0.2,51,1007.7,100,35.1,283,41.8,0,0.0,53
3,2021-01-01 03:00:00,27.0,84,24.0,28.0,0.1,0.1,51,1007.4,74,38.8,285,46.4,0,0.0,53
4,2021-01-01 04:00:00,26.9,84,24.0,28.0,0.1,0.1,51,1007.3,57,38.6,284,47.2,0,0.0,53

In [50]:
marine_data['time'] = pd.to_datetime(marine_data['time'])

In [51]:
marine_data.head()

,time,wave_height (m),wave_direction (°),wave_period (s),wind_wave_height (m),wind_wave_direction (°),wind_wave_period (s),wind_wave_peak_period (s),swell_wave_height (m),swell_wave_direction (°),swell_wave_period (s),swell_wave_peak_period (s),ocean_current_velocity (km/h),ocean_current_direction (°)
0,2021-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
merged_data = weather_data.merge(marine_data, on='time')

In [53]:
merged_data.head()

,time,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),weather_code (wmo code),pressure_msl (hPa),cloud_cover (%),...,wind_wave_height (m),wind_wave_direction (°),wind_wave_period (s),wind_wave_peak_period (s),swell_wave_height (m),swell_wave_direction (°),swell_wave_period (s),swell_wave_peak_period (s),ocean_current_velocity (km/h),ocean_current_direction (°)
0,2021-01-01 00:00:00,27.0,83,23.9,29.0,0.8,0.8,53,1008.8,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 01:00:00,27.2,81,23.8,28.9,0.5,0.5,53,1008.3,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 02:00:00,27.0,83,24.0,28.5,0.2,0.2,51,1007.7,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 03:00:00,27.0,84,24.0,28.0,0.1,0.1,51,1007.4,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 04:00:00,26.9,84,24.0,28.0,0.1,0.1,51,1007.3,57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
merged_data.to_csv('merged_weather_marine_data.csv', index=False)

print("Merging completed. Data saved to 'merged_weather_marine_data.csv'")

Merging completed. Data saved to 'merged_weather_marine_data.csv'